/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}




/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-light: hsla(208, 100%, 90%, 1);
    --color-dark: hsla(208, 70%, 20%, 1);

    --color-front: var(--color-dark);
    --color-back: var(--color-light);

    /* opacity */
    --opacity-muted: 0.6;

    /* transitions */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 100%;
    line-height: 1.5;
    font-family: 'WorkSans', sans-serif;
    font-feature-settings: "zero" 1;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: var(--color-back);
    color: var(--color-front);
    transition: all 1s ease-in-out;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: red;
    color: white;
    text-shadow: none;
}

::selection {
    background: red;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.3333;
    margin: 0 0 1.5rem;
}

h2 {
    font-size: 2rem;
    line-height: 1.25;
    margin: 0 0 1.5rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.3333;
    margin: 0 0 1.5rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 1.5rem;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 1.5rem;
}

ul,
ol {
    padding-left: 1.5rem;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.3333;
    margin: 0 0 1.5rem;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 1.5rem;
}

a {
    color: red;
    outline-color: red;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: red;
}

a:hover,
a:focus {
    color: red;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
}

/*
    Component: Sun
    ---
    The sun
*/

.c-sun {
    width: 1.375rem;
    fill: var(--color-front);
}

.c-logo .c-sun {}

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.c-app__summary {
    font-size: 1.75rem;
    font-weight: regular;
    line-height: 2.5rem
}

/*
    Component: Horizon
    ---
    Horizon with sun visualisation
*/

.c-horizon {
    margin-top: auto;
}

.c-horizon__sun::before {
    content: attr(data-time);
    font-size: 0.75rem;
    line-height: 0.875rem;
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
}

.c-horizon__sun {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    transform: translateY(50%);
}

.c-horizon__sky-wrapper {
    position: relative;
    height: 200px;
    overflow: hidden;
    padding-top: 1.375rem;
    padding-right: 2.5rem;
}

.c-horizon__sky {
    position: relative;
    height: 100%;
}

.c-horizon__line {
    border-top: 1px solid var(--color-front);
    margin-bottom: 2.125rem;
    display: flex;
    justify-content: space-between;
    /* This aligns the elements to the left and right edges */
    width: 100%;
    /* To ensure the entire width is used for spacing */
}

.c-horizon__time {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

.u-muted {
    opacity: var(--opacity-muted);
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.is-night {
    --color-front: var(--color-light) !important;
    --color-back: var(--color-dark) !important;
}